body {
    font-family: 'Roboto', sans-serif;
}

.mainContent {
    height: calc(-20px + 100vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    max-width: 760px;
    padding: 0px 20px;
    margin: 0px auto;
}

.mainContent::before {
    content: "";
    display: block;
    position: fixed;
    width: 300%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%) skewY(-8deg);
    background-color: rgb(246, 201, 14);
    z-index: -1;
    border-radius: 100%;
    animation: 8s ease-in-out 0s infinite alternate none running App_wave_3CtRm;
}

.card {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3.2px 2.2px, rgba(0, 0, 0, 0.027) 0px 7px 5.4px, rgba(0, 0, 0, 0.035) 0px 12.1px 10.1px, rgba(0, 0, 0, 0.043) 0px 19.8px 18.1px, rgba(0, 0, 0, 0.05) 0px 34.7px 33.8px, rgba(0, 0, 0, 0.07) 0px 81px 81px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    padding: 0px 28px;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgb(246, 201, 14);
    top: -20%;
    left: -50%;
    z-index: 0;
    border-radius: 100%;
}

.cardTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
}

.cardTop img {
    display: block;
    width: 50px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px;
}

.cardBody {
    height: calc(100% - 135px);
    position: relative;
    overflow-y: auto;
}

.cardBody::-webkit-scrollbar {
    display: none;
}

.shopItem {
    padding: 40px 0px;
}

.shopItem:first-child {
    padding-top: 0px;
}

.shopItem_image {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: rgb(225, 231, 237);
    border-radius: 30px;
    overflow: hidden;
}

.shopItem_image img {
    display: block;
    width: 100%;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 30px 20px);
    transform: rotate(-24deg);
    margin-left: -16px;
}

.shopItem_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 26px 0px 20px;
}

.shopItem_description {
    font-size: 13px;
    color: rgb(119, 119, 119);
    line-height: 1.8;
    margin-bottom: 20px;
}

.shopItem_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopItem_price {
    font-size: 18px;
    font-weight: 700;
}

.shopItem_button {
    cursor: pointer;
    background-color: rgb(246, 201, 14);
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    user-select: none;
    position: relative;
    display: flex
;
    align-items: center;
    padding: 16px 20px;
    border-radius: 100px;
    transition: 0.25s;
    white-space: nowrap;
    overflow: hidden;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.cardItem {
    display: flex;
    padding: 20px 0px;
}

.cardItem_left {
    flex: 0 1 0%;
}

.cardItem_image {
    width: 90px;
    height: 90px;
    background-color: rgb(77, 49, 127);
    margin-right: 34px;
    border-radius: 100%;
}

.cardItem_image img {
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px);
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 30px 20px);
}

.cardItem_right {
    width: 100%;
}

.cardItem_name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.cardItem_price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.cartItem_actions, .cartItem_count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cartItem_count {
    flex: 1 1 0%;
}

.cartItem_button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: rgb(238, 238, 238);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 100%;
    transition: 0.2s;
}

.cartItem_number {
    font-size: 14px;
    width: 20px;
    text-align: center;
    margin: 0px 8px;
}

.cartItem_button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: rgb(238, 238, 238);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 100%;
    transition: 0.2s;
}

.cartItem_remove {
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 201, 14);
    user-select: none;
    border-radius: 100%;
    transition: 0.2s;
}

.cartItem_remove img {
    width: 16px;
    height: 16px;
}

@keyframes App_wave_3CtRm {
    0% {
        transform: translate(-50%) skewY(-8deg);
    }

    100% {
        transform: translate(-50%) skewY(8deg);
    }
}